@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grey-xl-light: rgba(206, 200, 200, 0.5);
    --grey-light: rgb(154, 147, 147);
    --grey-dark: rgb(108, 104, 104);
    --shadow-color: rgba(141, 140, 140, 0.8);

    --button-color: rgb(192, 64, 0);
    --button-shadow: rgba(192, 64, 0, 0.5);

    /* blue color combination */
    --bg-color-light: #e3f2fd;
    --bg-color: #bbdefb;
    --bg-color-dark-1: #90caf9;
    --bg-color-dark-2: #64b5f6;
    --bg-color-dark-3: #42a5f5;
    --bg-color-dark-4: #0d47a1;
}

body {
    -webkit-text-size-adjust: none;
    background-color: var(--bg-color-light);
}

.main-container {
    height: calc(100vh - 86px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    box-sizing: border-box;
}

/* ----------------- Headings ----------------*/
h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}
h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}
h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}
h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}
h6 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
}

.about {
    height: calc(100vh - 78px);
    min-height: 600px;
}
